html{
    font-family: 'Hind Madurai', sans-serif;
    background: #fff;
    /*padding: 1rem; */
}
body{
    /*max-width: 960px;*/
    margin: 0 auto; 
    background: white; 
    /*box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 10px 0px, rgba(255, 255, 255, 0.8) -6px -2px 10px 0px;*/
    border-radius: 5px;
}

h1{ 
    font-family: "Audiowide", sans-serif !important; 
    color: rgb(235, 235, 235); 
    font-weight: lighter;
    margin: 1rem 0; 
    font-size: 40px;
}

a{ 
    color: rgb(235, 235, 235);  
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

hr{ 
    border: none; 
    border-top: 1px solid lightgray; 
}

nav{ 
    background: rgb(8, 20, 46); 
    display: flex; 
    align-items: center; 
    padding: 0 1.5rem; 
    height: 75px;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
}

nav h1{ 
    flex: auto;
    margin: 0;
}

nav h1 a{ 
    text-decoration: none; 
    padding: 0.25rem 0.5rem; 
}

nav ul{ 
    display: flex; 
    list-style: none; 
    margin: 0; padding: 0; 
}

nav ul li a, nav ul li span, header{
    display: block; 
    padding: 0.5rem; 
}
.content{ 
    padding: 0 1.5rem; 
    /*margin-top: 75px;*/
}

.content > header{ 
    /*border-bottom: 1px solid lightgray; */
    display: flex; 
    align-items: flex-end; 
    margin-top: 60px;
}

.content > header h1{
    flex: auto; 
    margin: 1rem 0 0.25rem 0; 
}

.flash{ 
    margin: 1em 0; 
    padding: 1em; 
    background: #f6caca; 
    border: 1px solid #a83737; 
}

.content:last-child{
    margin-bottom: 0; 
}

.content .form-login{ 
    margin: 1em auto; 
    max-width: 500px;
    height: auto;
    display: flex; 
    flex-direction: column; 
    padding: 10px;
    border-radius: 5px;
    transition: 0.5s;
    box-shadow: rgba(136, 165, 191, 0.48) 2px 2px 10px 0px, rgba(255, 255, 255, 0.8) -2px -2px 10px 0px;
}

.content label{ 
    font-weight: bold; 
    margin-bottom: 0.5em; 
}

.content input, .content textarea{ 
    margin-bottom: 1em; 
}
.content textarea{ 
    min-height: 12em; 
    resize: vertical; 
}

input.danger{ 
    color: #cc2f2e; 
}

input[type=submit]{  
    min-width: 10em; 
}

.btn-log{
    align-self: start;
    background-color:  rgb(108, 221, 238);
    border: none;
    background-color:  rgb(108, 221, 238); 
    border-radius: 3px;
    box-shadow: rgba(136, 165, 191, 0.48) 2px 2px 10px 0px, rgba(255, 255, 255, 0.8) -2px -2px 10px 0px;
    padding: 3px;
}

#refresh_form{
    margin: 0;
    padding-bottom: 0;
}

.btn{
    margin-bottom: 5px !important;
    border: none;
    background-color:  rgb(108, 221, 238); 
    border-radius: 3px;
    box-shadow: rgba(136, 165, 191, 0.48) 2px 2px 10px 0px, rgba(255, 255, 255, 0.8) -2px -2px 10px 0px;
    cursor: pointer;
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #2f2f2f;
    transition: all 0.3s ease;
}

.btn:hover{
    transform: scale(0.9);
}

.cubes{
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 0 10px 10px 0;
}

.item{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cube{
    color: rgb(86, 86, 86);
    padding: 10px;
    padding-top: 5px;
    margin: 5px;
    /* border-radius: 5px;
    box-shadow: rgba(136, 165, 191, 0.48) 2px 2px 10px 0px, rgba(255, 255, 255, 0.8) -2px -2px 10px 0px; */
    height: auto;
    width: 25%;
    text-align: center;
}

h2{
    text-align: center;
    color: rgb(108, 221, 238); 
}

.action{
    display: flex;
    align-items: center;
    padding: 0.5rem;
    color: rgb(235, 235, 235);
}

.action > img{
    margin-right: 4px;
}

.form-settings{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 8px auto;
    min-width: 30%;
    max-width: 400px;
    height: auto;
    border-radius: 5px;
    box-shadow: rgba(136, 165, 191, 0.48) 2px 2px 10px 0px, rgba(255, 255, 255, 0.8) -2px -2px 10px 0px;
    padding: 10px;
    transition: 0.5s;
}

.form-settings label{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.form-settings input[type='submit']{
    align-self: flex-end;
}

footer{
    /* position: absolute;
    bottom: 0;
    right: 0;
    left: 0; */
    background-color: rgb(8, 20, 46);
    align-self: flex-end;
    height: 200px;
}
footer > h1{
    color: aliceblue;
    padding: 10px 1.5rem;
}

.home-element{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    flex-wrap: wrap;
}

.home-title{
    font-size: 50px;
    max-width: 700px;
    color: #4b4b4b;
}
.home-text{
    max-width: 660px;
    color: #4b4b4b;
}

#btn-setting{
    margin-bottom: 5px !important;
    border: none;
    background-color:  rgb(108, 221, 238); 
    border-radius: 3px;
    box-shadow: rgba(136, 165, 191, 0.48) 2px 2px 10px 0px, rgba(255, 255, 255, 0.8) -2px -2px 10px 0px;
    cursor: pointer;
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #2f2f2f;
}

.stat-content{
    display: flex;
    justify-content: space-between;
    /*box-shadow: rgba(136, 165, 191, 0.48) 2px 2px 10px 0px, rgba(255, 255, 255, 0.8) -2px -2px 10px 0px; */
    /*border: solid 0.5px  #909090;*/
}

.signification{
    width: 37%;
    background-color: rgb(8, 20, 46);;
    padding: 10px;
    box-shadow: rgba(136, 165, 191, 0.48) 4px 2px 13px 0px, rgba(255, 255, 255, 0.8) -4px -2px 13px 0px;
}

.signification h3{
    color: aliceblue;
    text-align: center;
}

.signification p{
    color: rgb(225, 225, 225);
    text-align: justify;
}

.voyant{
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.green{
    background-color: rgb(0, 255, 0);
}

.orange{
    background-color: orange;
}

.red{
    background-color: red;
}

.etat-actuel{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nb{
    border-top: #565656 solid 1.5px;
    text-align: justify;
}

.username{
    color: rgb(108, 221, 238);
}

.title-page{
    color: rgb(8, 20, 46); 
}

.action-settings{
    color: rgb(8, 20, 46);
}
/* .jauge {
    width: 200px;
    height: 20px;
    background-color: #e0e0e0;
    border-radius: 10px;
    position: relative;
  }
  
  .barre {
    height: 100%;
    width: 0;
    background-color: green;
    border-radius: 10px;
    transition: width 0.5s ease;
  }
  
  .valeur {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .jauge.error .barre {
    background-color: red;
  }
  
  .jauge.warning .barre {
    background-color: orange;
  } */
  